<?xml version="1.0"?>
<launch>
  <include file="$(find replanners_bench_cells)/launch/cell.launch">
    <arg name="demo_package" value="high_dof_6_moveit_config"/>
    <arg name="static_scene" value="static_scene_plane.yaml"/>
    <arg name="rviz"         value="$(find replanners_bench_cells)/config/rviz_crash_test_6d_config.rviz"/>
  </include>

  <rosparam command="load" file="$(find nn_ssm)/config/compare_speed.yaml"/>
  <!-- <rosparam command="load" file="$(find nn_ssm)/config/MODEL.yaml"/> -->

  <node pkg="nn_ssm"
        name="compare_speed"
        type="compare_speed"
        output="screen"
        launch-prefix="gdb -ex run --args"> 
 </node>

</launch>
